# Junção de uma grande base para facilitar os gráficos

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from models import Professor, Disciplina, Turma, Aluno, Nota

## Junção das tabelas num pd.dataframe

In [4]:
# Criando a conexão com o banco de dados
engine = create_engine('sqlite:///desempenho_academico.db')

# Consulta ao banco de dados para obter os dados
professores = pd.read_sql_table('professores', engine)
disciplinas = pd.read_sql_table('disciplinas', engine)
turmas = pd.read_sql_table('turmas', engine)
alunos = pd.read_sql_table('alunos', engine)
notas = pd.read_sql_table('notas', engine)

# Exibindo as primeiras linhas de cada DataFrame
print("Professores:")
print(professores.head())

print("\nDisciplinas:")
print(disciplinas.head())

print("\nTurmas:")
print(turmas.head())

print("\nAlunos:")
print(alunos.head())

print("\nNotas:")
print(notas.head())

Professores:
   id            nome                  email       senha      papel
0   1     Jacob Olson    shawn17@example.org  h+OX7&uY@S  Professor
1   2      Dawn Hines    craig79@example.com  tA9GSSd^+D  Professor
2   3   Denise Miller  charles06@example.com  8gd*o4Ej%F  Professor
3   4  Theresa Mclean   qdaniels@example.com  J^43sWg&yn  Professor
4   5  Jennifer Bruce    erica12@example.com  b#C8B2Qyj@  Professor

Disciplinas:
   id        nome  codigo
0   1  Matemática  MAT101
1   2      Física  FIS101
2   3     Química  QUI101
3   4    Biologia  BIO101
4   5    História  HIS101

Turmas:
   id   ano semestre  disciplina_id
0   1  2022        A              1
1   2  2022        B              1
2   3  2023        A              1
3   4  2023        B              1
4   5  2024        A              1

Alunos:
   id               nome matricula
0   1      Ashley Moreno  13524582
1   2  Mr. Daniel Miller  75694481
2   3    Francisco Green  58288120
3   4           John Lee  59728258
4   5        Ryan Parker    221316

Notas:
   id  aluno_id  turma_id  notas
0   1         1         1    7.0
1   2         1         2    7.0
2   3         1         3    8.0
3   4         1         4    4.0
4   5         1         5    4.0

In [35]:
merged_data = pd.merge(pd.merge(notas, alunos, how='inner', left_on='aluno_id', right_on='id'),
                       turmas, how='inner', left_on='turma_id', right_on='id')

# Removendo colunas desnecessárias
merged_data.drop(columns=['id_x', 'id_y'], inplace=True)

merged_data = pd.merge(
    pd.merge(merged_data, disciplinas, how='inner', left_on='disciplina_id', right_on='id'),
    professores, how='inner', left_on='disciplina_id', right_on='id')

# Removendo colunas desnecessárias
merged_data.drop(columns=['id_x', 'id_y'], inplace=True)

# Renomeando colunas
merged_data.rename(columns={'nome_y': 'nome_disciplina', 'nome_x': 'nome_aluno', 'nome': 'nome_professor','id': 'professor_id'}, inplace=True)

print("\junçao:")
print(merged_data.head())

\junçao:
   aluno_id  turma_id  notas     nome_aluno matricula   ano semestre  \
0         1         1    7.0  Ashley Moreno  13524582  2022        A
1         1         2    7.0  Ashley Moreno  13524582  2022        B
2         1         3    8.0  Ashley Moreno  13524582  2023        A
3         1         4    4.0  Ashley Moreno  13524582  2023        B
4         1         5    4.0  Ashley Moreno  13524582  2024        A

   disciplina_id nome_disciplina  codigo  professor_id nome_professor  \
0              1      Matemática  MAT101             1    Jacob Olson
1              1      Matemática  MAT101             1    Jacob Olson
2              1      Matemática  MAT101             1    Jacob Olson
3              1      Matemática  MAT101             1    Jacob Olson
4              1      Matemática  MAT101             1    Jacob Olson

                 email       senha      papel
0  shawn17@example.org  h+OX7&uY@S  Professor
1  shawn17@example.org  h+OX7&uY@S  Professor
2  shawn17@example.org  h+OX7&uY@S  Professor
3  shawn17@example.org  h+OX7&uY@S  Professor
4  shawn17@example.org  h+OX7&uY@S  Professor

## Exportanto a tabela

In [36]:
# Salvando o DataFrame em um arquivo Excel
merged_data.to_excel('dados_academicos.xlsx', index=False)